/*
*  Copyright (c) 2021 Otávio Santana and others
*   All rights reserved. This program and the accompanying materials
*   are made available under the terms of the Eclipse Public License v1.0
*   and Apache License v2.0 which accompanies this distribution.
*   The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
*   and the Apache License v2.0 is available at http://www.opensource.org/licenses/apache2.0.php.
*
*   You may elect to redistribute this code under either of these licenses.
*
*   Contributors:
*
*   Otavio Santana
*/
package {{package}};

import jakarta.data.repository.Page;
import jakarta.data.repository.Pageable;
import jakarta.enterprise.context.ApplicationScoped;
import jakarta.enterprise.inject.Default;
import jakarta.inject.Inject;
import jakarta.nosql.keyvalue.KeyValueTemplate;
import org.eclipse.jnosql.mapping.Database;
import org.eclipse.jnosql.mapping.DatabaseType;

import javax.annotation.processing.Generated;
import java.util.Objects;
import java.util.Optional;
import java.util.stream.Stream;
import java.util.stream.StreamSupport;

import static java.util.Objects.requireNonNull;


@ApplicationScoped
@Default
@Database(value = DatabaseType.KEY_VALUE)
@Generated(value = "JNoSQL Lite KeyValue Repository Generator", date = "{{now}}")
public class {{className}} implements {{repository}} {

    private final KeyValueTemplate template;

    @Inject
    public {{className}}(KeyValueTemplate template) {
       this.template = template;
    }

    public {{className}}() {
        this.template = null;
    }

    @Override
    public <S extends {{entityType}}> S save(S entity) {
        requireNonNull(entity, "entity is required");
        this.template.put(entity);
        return entity;
    }

    @Override
    public <S extends {{entityType}}> Iterable<S> saveAll(Iterable<S> entities) {
        requireNonNull(entities, "entities is required");
        return this.template.insert(entities);
   }

    @Override
    public void deleteById({{keyType}} id) {
       requireNonNull(id, "id is required");
       this.template.deleteByKey(id);
    }

    @Override
    public void deleteAllById(Iterable<{{keyType}}> ids) {
       requireNonNull(ids, "ids is required");
       this.template.deleteByKey(ids);
    }

    @Override
    public Optional<{{entityType}}> findById({{keyType}} id) {
        requireNonNull(id, "id is required");
        return this.template.get(id, {{entityType}}.class);
    }

    @Override
    public Stream<{{entityType}}> findAllById(Iterable<{{keyType}}> ids) {
       requireNonNull(ids, "ids is required");
       return StreamSupport.stream(ids.spliterator(), false)
               .map(id -> this.template.get(id, {{entityType}}.class))
               .filter(Optional::isPresent)
               .flatMap(Optional::stream)
               .map({{entityType}}.class::cast)
               .filter(Objects::nonNull);
    }

    @Override
    public boolean existsById({{keyType}} id) {
        requireNonNull(id, "id is required");
        return this.template.get(id, {{entityType}}.class).isPresent();
    }

    @Override
    public long count() {
        throw new UnsupportedOperationException("Key-Value repository does not support count method");
    }

    public Page<{{entityType}}> findAll(Pageable pageable) {
        throw new UnsupportedOperationException("Key-Value repository does not support findAll method");
    }

    @Override
    public Stream<{{entityType}}> findAll() {
         throw new UnsupportedOperationException("Key-Value repository does not support findAll method");
    }

    @Override
    public void deleteAll() {
         throw new UnsupportedOperationException("Key-Value repository does not support deleteAll method");
    }

    @Override
    public void deleteAll(Iterable<? extends {{entityType}}> entities) {
        Objects.requireNonNull(entities, "entities is required");
        this.template.delete(entities);
    }

    @Override
    public void delete({{entityType}} entity) {
        Objects.requireNonNull(entity, "entity is required");
        this.template.delete(entity);
    }

    {{#methods}}
    @Override
    public {{{returnType}}} {{methodName}}({{{parametersSignature}}}) {
    {{#sourceCode}}
       {{{.}}};
    {{/sourceCode}}
    }
    {{/methods}}


}